.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* .form-control{
  padding: 1rem 2rem;
  
} */
.form-control:hover{
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.a, .b{
  width: 25px;
  height: 25px;
}
.a{
  top: 7px;
  left: 7%;
}

.b{
  top: 7px;
  left: 87%;
}

.btn{
  border-radius: 4px;
}

.btn:hover{

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.language{
  font-size: 13px;
}

.language a {
  color: #1a0dab;
  padding-right: 0.8rem;
}

.language span{
  color: #3c4043;
}

.language a:hover{
  text-decoration: underline !important;
  color: #1a0dab;
}

@media (min-width:700px) {
  .App-main{
    width:70% !important;
  }
}